page
  height: 100%
  page-break-after: always !important
  box-shadow: none  
  .label
    font-weight: 300 !important

// Exclude elements to no be printed
.navbar
  display: none

.sidebar
  display: none

.edit-content
  display: block !important

.content-pdf
  display: block !important
  margin: 0
  padding: 0


footer
  display:block
  position: fixed
  bottom: 0


@page 
  size: auto
  margin: 3mm 1cm 3mm 1cm
  box-shadow: none

#BrowserPrintDefaults
  display: none
