// Variables
$sec_color: rgb(4, 99, 128)

// Functions
@mixin background_color($color)
  background-color: $color
  box-shadow: inset 0 0 0 1000px $color      

@mixin font_color($color)
  color: transparent 
  // Condition necessary to firefox 
  @-moz-document url-prefix()
    color: transparent !important
  text-shadow: 0 0 $color !important

@mixin print_color_exact()
  -webkit-print-color-adjust: exact
  -moz-print-color-adjust: exact
  print-color-adjust: exact

// Layout
.container-fluid
  padding-top: 30px
// Style
body 
  background: rgb(204,204,204)
  text-rendering: optimizeLegibility !important
  -moz-osx-font-smoothing: grayscale !important
  -webkit-font-smoothing: grayscale
  font-smoothing: grayscale

  margin: 0 0 0 0
  padding: 50px 0 0 0
  font-family: Lato,Helvetica,Arial,sans-serif
  color: #767676

page
  background: white
  width: 210mm
  height: 297mm
  display: block
  margin: 30px auto
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.25)
  padding: 10mm
  position: relative
  @include print_color_exact
  * 
    @include print_color_exact

  h2 
    margin-bottom: 15px

  .box-chart
    margin: 0 auto
    width: 400px

  header 
    display: flex
    flex-direction: row
    // Webkit
    display: -webkit-flex
    -webkit-flex-direction: row

    position: relative
    height: 40px
    line-height: 40px
    font-size: 16px
    background: #F6F6F6
    box-shadow: inset 0 0 0 1000px #F6F6F6      
    margin-bottom: 15px

    .page-num
      @include background_color(#5F6062)
      @include font_color(#fff)
      width: 40px
      color: #fff
      text-align: center
      font-weight: 600
      line-height: 40px

    .page-title
      margin: 0px
      line-height: 40px
      font-size: 14px
      text-transform: uppercase
      padding-left: 30px
      margin: 0
      font-weight: 300

    .header-rect
      @include background_color($sec_color)      
      width: 40px
      position: absolute
      height: 40px
      right: 0

  footer
    position: absolute
    bottom: 0

  &.cover 
    .cover-header
      padding: 100px 0px 0px 0px
      .cover-inner
        border-left: 25px solid $sec_color
        padding-left: 40px
        height: 160px
        text-transform:uppercase

        display: flex
        flex-direction: column
        justify-content: center
        // Webkit
        display: -webkit-flex
        -webkit-flex-direction: column
        -webkit-justify-content: center

        .subtitle
          font-size: 34px
          font-weight: 300
          text-transform: uppercase
          margin: 0
        .title
          margin: 0px
          font-size: 46px
          font-weight: 400
          color: $sec_color
          text-transform: uppercase          
    .cover-information
      font-size: 28px
      text-transform: uppercase
      margin-top: 150px
      padding-left: 40px

      display: flex
      flex-direction: column
      // Webkit
      display: -webkit-flex
      -webkit-flex-direction: column

      .label
        color: #373a3c
        font-weight: 200
        text-align: left
        b
          font-weight: 400
  
// Edit page
.edit-content
  display: flex
  // Webkit
  display: -webkit-flex

  .content-pdf
    margin: 0 80px

  .sidebar
    position: fixed
    right: 0px
    padding: 20px 50px
    top: 50px
    background: whitesmoke
    height: 100%
    width: 300px  
    overflow-x: auto




