= content_for :head 
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDWif-Vrje2gPVDFGFWcUytgJmZxUMQlRU&libraries=places"
  = javascript_include_tag 'address_complete'

= form_for(@report) do |f|
  - if @report.errors.any?
    #error_explanation
      h2
        = pluralize(@report.errors.count, "error")
        | prohibited this report from being saved:
      ul
        - @report.errors.full_messages.each do |message|
          li= message
  fieldset.form-group
    label = t('property_type')
    .radio
      label
        = f.radio_button :property_type, Report.property_types.keys[0]
        = t('house')
    .radio
      label
        = f.radio_button :property_type, Report.property_types.keys[1]
        = t('flat')
  .form-group
    = f.label :rooms, t('rooms')
    = f.number_field :rooms, class: 'form-control'
  .form-group
    = f.label :description, t('description')
    = f.text_field :description, class: 'form-control'
  .form-group
    = f.label :city, t('city')
    = f.text_field :city, class: 'form-control'
  .form-group
    = f.label :address, t('address')
    = f.text_field :address, class: 'form-control', id: 'address_field'
  .form-group
    = f.label :surface, t('surface')
    = f.number_field :surface, class: 'form-control'
  .form-group
    = f.label :price, t('price')
    = f.text_field :price, class: 'form-control'
  fieldset
    legend = t('owner')
    .form-group
      = f.label :name, t('name')
      = f.text_field :name, class: 'form-control'
    .form-group
      = f.label :phone, t('phone')
      = f.text_field :phone, class: 'form-control'
    .form-group
      = f.label :email, t('email')
      = f.text_field :email, class: 'form-control'

    = f.hidden_field :lat, value: 0, id: 'latitude_field'
    = f.hidden_field :lng, value: 0, id: 'longitude_field'

  .actions
    = f.submit t('actions.create'), class: 'btn btn-primary'

