div style="position:absolute;left:50%;margin-left:-297px;top:5957px;width:595px;height:841px;border-style:outset;overflow:hidden" 
  div style="position:absolute;left:0px;top:0px" 
    img height="841" src="/index_files/background8.jpg" width="595" /
