div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:841px;border-style:outset;overflow:hidden" 
  div style="position:absolute;left:0px;top:0px" 
    img height="841" src="/index_files/background1.jpg" width="595" /
  .cls_003 style="position:absolute;left:303.77px;top:24.25px" 
    span.cls_003 ANALYSE
    span.cls_004 DE CONTEXTE CONCURRENTIEL
  .cls_002 style="position:absolute;left:161.43px;top:419.11px" 
    span.cls_002 A2C
  .cls_005 style="position:absolute;left:161.43px;top:482.71px" 
    span.cls_005 Analyse de Contexte Concurrentiel
  .cls_006 style="position:absolute;left:161.43px;top:503.11px" 
    span.cls_006 Réalisée par
    span.cls_007 David Delacroix
  .cls_006 style="position:absolute;left:161.43px;top:517.51px" 
    span.cls_006 Agent mandataire du réseau I@D France
  .cls_008 style="position:absolute;left:161.43px;top:549.11px" 
    span.cls_008 A l'attention de :   M.
    span.cls_009 François Durand
  .cls_008 style="position:absolute;left:161.43px;top:582.71px" 
    span.cls_008 Bien :
  .cls_009 style="position:absolute;left:280.43px;top:582.71px" 
    span.cls_009 Maison
  .cls_008 style="position:absolute;left:280.43px;top:599.51px" 
    span.cls_008 49, rue de la République
  .cls_008 style="position:absolute;left:280.43px;top:616.31px" 
    span.cls_008 77000 Melun
  .cls_010 style="position:absolute;left:103.46px;top:773.98px" 
    span.cls_010 David
    span.cls_011 Delacroix
  .cls_012 style="position:absolute;left:379.96px;top:778.12px" 
    span.cls_012 06 44 08 79 88
  .cls_012 style="position:absolute;left:103.46px;top:791.98px" 
    span.cls_012 Conseiller Immobilier chez I@D
  .cls_012 style="position:absolute;left:379.96px;top:793.12px" 
    span.cls_012 david.delacroix@iadfrance.com
  .cls_012 style="position:absolute;left:379.96px;top:808.12px" 
    span.cls_012 Champigny sur Marne
  br /
  br
  hr/
  hr
  br
  br
  br
  br
  br
