div style="position:absolute;left:50%;margin-left:-297px;top:5106px;width:595px;height:841px;border-style:outset;overflow:hidden" 
  div style="position:absolute;left:0px;top:0px" 
    img height="841" src="/index_files/background7.jpg" width="595" /
  .cls_003 style="position:absolute;left:303.77px;top:24.25px" 
    span.cls_003 ANALYSE
    span.cls_004 DE CONTEXTE CONCURRENTIEL
  .cls_016 style="position:absolute;left:28.35px;top:60.86px" 
    span.cls_016 Analyse du marché local
  .cls_028 style="position:absolute;left:28.35px;top:74.86px" 
    span.cls_028 Spécification des biens comparables
  .cls_010 style="position:absolute;left:103.46px;top:773.98px" 
    span.cls_010 David
    span.cls_011 Delacroix
  .cls_012 style="position:absolute;left:379.96px;top:778.12px" 
    span.cls_012 06 44 08 79 88
  .cls_012 style="position:absolute;left:103.46px;top:791.98px" 
    span.cls_012 Conseiller Immobilier chez I@D
  .cls_012 style="position:absolute;left:379.96px;top:793.12px" 
    span.cls_012 david.delacroix@iadfrance.com
  .cls_012 style="position:absolute;left:379.96px;top:808.12px" 
    span.cls_012 Champigny sur Marne

