div style="position:absolute;left:50%;margin-left:-297px;top:3404px;width:595px;height:841px;border-style:outset;overflow:hidden" 
  div style="position:absolute;left:0px;top:0px" 
    img height="841" src="/index_files/background5.jpg" width="595" /
  .cls_003 style="position:absolute;left:303.77px;top:24.25px" 
    span.cls_003 ANALYSE
    span.cls_004 DE CONTEXTE CONCURRENTIEL
  .cls_016 style="position:absolute;left:28.35px;top:60.86px" 
    span.cls_016 Analyse du marché local
  .cls_028 style="position:absolute;left:28.35px;top:74.86px" 
    span.cls_028 Suggestion du prix
  .cls_029 style="position:absolute;left:27.93px;top:128.37px" 
    span.cls_029 Délais de vente estimé selon le prix au m²
  .cls_014 style="position:absolute;left:27.93px;top:142.77px" 
    span.cls_014 Basé sur l’observation des biens similaires vendus dans l’années
  .cls_017 style="position:absolute;left:92.20px;top:165.43px" 
    span.cls_017 €/m²
  .cls_030 style="position:absolute;left:67.59px;top:198.39px" 
    span.cls_030 3400
  .cls_030 style="position:absolute;left:84.11px;top:198.39px" 
    span.cls_030 €
  .cls_030 style="position:absolute;left:67.59px;top:235.01px" 
    span.cls_030 3200
  .cls_030 style="position:absolute;left:84.11px;top:235.01px" 
    span.cls_030 €
  .cls_030 style="position:absolute;left:67.59px;top:267.63px" 
    span.cls_030 3000
  .cls_030 style="position:absolute;left:84.11px;top:267.63px" 
    span.cls_030 €
  .cls_030 style="position:absolute;left:67.59px;top:305.49px" 
    span.cls_030 2800
  .cls_030 style="position:absolute;left:84.11px;top:305.49px" 
    span.cls_030 €
  .cls_030 style="position:absolute;left:67.59px;top:338.34px" 
    span.cls_030 2600
  .cls_030 style="position:absolute;left:84.11px;top:338.34px" 
    span.cls_030 €
  .cls_029 style="position:absolute;left:28.77px;top:402.95px" 
    span.cls_029 Délais de vente estimé selon le prix de vente
  .cls_014 style="position:absolute;left:28.77px;top:417.35px" 
    span.cls_014 Basé sur l’observation des biens similaires vendus dans l’années
  .cls_017 style="position:absolute;left:96.96px;top:442.52px" 
    span.cls_017 K€
  .cls_030 style="position:absolute;left:76.59px;top:475.48px" 
    span.cls_030 340
  .cls_030 style="position:absolute;left:76.59px;top:512.10px" 
    span.cls_030 320
  .cls_030 style="position:absolute;left:76.59px;top:544.72px" 
    span.cls_030 300
  .cls_030 style="position:absolute;left:76.59px;top:582.58px" 
    span.cls_030 280
  .cls_030 style="position:absolute;left:76.59px;top:615.43px" 
    span.cls_030 260
  .cls_010 style="position:absolute;left:103.46px;top:773.98px" 
    span.cls_010 David
    span.cls_011 Delacroix
  .cls_012 style="position:absolute;left:379.96px;top:778.12px" 
    span.cls_012 06 44 08 79 88
  .cls_012 style="position:absolute;left:103.46px;top:791.98px" 
    span.cls_012 Conseiller Immobilier chez I@D
  .cls_012 style="position:absolute;left:379.96px;top:793.12px" 
    span.cls_012 david.delacroix@iadfrance.com
  .cls_012 style="position:absolute;left:379.96px;top:808.12px" 
    span.cls_012 Champigny sur Marne
