div style="position:absolute;left:50%;margin-left:-297px;top:851px;width:595px;height:841px;border-style:outset;overflow:hidden" 
  div style="position:absolute;left:0px;top:0px" 
    img height="841" src="/index_files/background2.jpg" width="595" /
  .cls_003 style="position:absolute;left:303.77px;top:24.25px" 
    span.cls_003 ANALYSE
    span.cls_004 DE CONTEXTE CONCURRENTIEL
  .cls_013 style="position:absolute;left:28.35px;top:370.34px" 
    span.cls_013 Maison
  .cls_013 style="position:absolute;left:277.80px;top:370.34px" 
    span.cls_013 Description du bien :
  .cls_014 style="position:absolute;left:277.80px;top:386.74px" 
    span.cls_014 Lorem ipsum dolor sit amet, consectetur adipiscing
  .cls_014 style="position:absolute;left:32.35px;top:389.66px" 
    span.cls_014 Adresse :
  .cls_014 style="position:absolute;left:93.26px;top:389.66px" 
    span.cls_014 49, rue de la République
  .cls_014 style="position:absolute;left:277.80px;top:401.14px" 
    span.cls_014 elit, sed do eiusmod tempor incididunt ut labore et
  .cls_014 style="position:absolute;left:93.26px;top:404.06px" 
    span.cls_014 77000 Melun
  .cls_014 style="position:absolute;left:277.80px;top:415.54px" 
    span.cls_014 dolore magna aliqua. Ut enim ad minim veniam, quis
  .cls_014 style="position:absolute;left:277.80px;top:429.94px" 
    span.cls_014 nostrud exercitation ullamco laboris nisi ut aliquip ex
  .cls_014 style="position:absolute;left:32.35px;top:435.53px" 
    span.cls_014 Pièces :
  .cls_015 style="position:absolute;left:93.26px;top:435.19px" 
    span.cls_015 7
  .cls_014 style="position:absolute;left:277.80px;top:444.34px" 
    span.cls_014 ea commodo consequat.
  .cls_014 style="position:absolute;left:32.35px;top:452.61px" 
    span.cls_014 Surface :
  .cls_014 style="position:absolute;left:93.26px;top:452.61px" 
    span.cls_014 150m²
  .cls_013 style="position:absolute;left:277.80px;top:473.54px" 
    span.cls_013 Description du secteur :
  .cls_014 style="position:absolute;left:277.80px;top:489.94px" 
    span.cls_014 Duis aute irure dolor in reprehenderit in voluptate
  .cls_014 style="position:absolute;left:277.80px;top:504.34px" 
    span.cls_014 velit esse cillum dolore eu fugiat nulla pariatur. Ex-
  .cls_014 style="position:absolute;left:277.80px;top:518.74px" 
    span.cls_014 cepteur sint occaecat cupidatat non proident, sunt in
  .cls_014 style="position:absolute;left:277.80px;top:533.14px" 
    span.cls_014 culpa qui officia deserunt mollit anim id est laborum.
  .cls_014 style="position:absolute;left:28.35px;top:579.41px" 
    span.cls_014 Propriétaire
  .cls_013 style="position:absolute;left:303.89px;top:578.12px" 
    span.cls_013 - Notre méthodologie d’analyse -
  .cls_016 style="position:absolute;left:28.35px;top:594.21px" 
    span.cls_016 M.
    span.cls_013 François Durand
  .cls_017 style="position:absolute;left:278.50px;top:608.72px" 
    span.cls_017 Sed ut perspiciatis unde omnis iste natus error sit
  .cls_014 style="position:absolute;left:28.35px;top:610.61px" 
    span.cls_014 49, rue de la République
  .cls_017 style="position:absolute;left:278.50px;top:621.92px" 
    span.cls_017 voluptatem accusantium doloremque laudantium,
  .cls_014 style="position:absolute;left:28.35px;top:625.01px" 
    span.cls_014 7700 Melun
  .cls_017 style="position:absolute;left:278.50px;top:635.12px" 
    span.cls_017 totam rem aperiam, eaque ipsa quae ab illo inventore
  .cls_014 style="position:absolute;left:28.35px;top:639.41px" 
    span.cls_014 T. 06.49.03.34.45
  .cls_017 style="position:absolute;left:278.50px;top:648.32px" 
    span.cls_017 veritatis et quasi architecto beatae vitae dicta sunt ex-
  .cls_014 style="position:absolute;left:28.35px;top:653.81px" 
    span.cls_014 E. françois.durand@freemail.com
  .cls_017 style="position:absolute;left:278.50px;top:661.52px" 
    span.cls_017 plicabo. Nemo enim ipsam voluptatem quia voluptas
  .cls_017 style="position:absolute;left:278.50px;top:674.72px" 
    span.cls_017 sit aspernatur aut odit aut fugit, sed quia consequun-
  .cls_017 style="position:absolute;left:278.50px;top:687.92px" 
    span.cls_017 tur magni dolores eos qui ratione voluptatem sequi
  .cls_017 style="position:absolute;left:278.50px;top:701.12px" 
    span.cls_017 nesciunt.
  .cls_010 style="position:absolute;left:103.46px;top:773.98px" 
    span.cls_010 David
    span.cls_011 Delacroix
  .cls_012 style="position:absolute;left:379.96px;top:778.12px" 
    span.cls_012 06 44 08 79 88
  .cls_012 style="position:absolute;left:103.46px;top:791.98px" 
    span.cls_012 Conseiller Immobilier chez I@D
  .cls_012 style="position:absolute;left:379.96px;top:793.12px" 
    span.cls_012 david.delacroix@iadfrance.com
  .cls_012 style="position:absolute;left:379.96px;top:808.12px" 
    span.cls_012 Champigny sur Marne

