div style="position:absolute;left:50%;margin-left:-297px;top:1702px;width:595px;height:841px;border-style:outset;overflow:hidden" 
  div style="position:absolute;left:0px;top:0px" 
    img height="841" src="/index_files/background3.jpg" width="595" /
  .cls_003 style="position:absolute;left:303.77px;top:24.25px" 
    span.cls_003 ANALYSE
    span.cls_004 DE CONTEXTE CONCURRENTIEL
  .cls_018 style="position:absolute;left:22.68px;top:62.18px" 
    span.cls_018 BIENS
    span.cls_019 EN CONCURRENCE
  .cls_020 style="position:absolute;left:314.65px;top:105.03px" 
    span.cls_020 CRITERES
    span.cls_021 DE SELECTION
  .cls_022 style="position:absolute;left:22.68px;top:112.84px" 
    span.cls_022 63 BIENS (42%)
  .cls_017 style="position:absolute;left:318.65px;top:123.67px" 
    span.cls_017 Surface :
  .cls_017 style="position:absolute;left:409.35px;top:123.67px" 
    span.cls_017 De 120 m² à 150 m²
  .cls_014 style="position:absolute;left:22.68px;top:130.84px" 
    span.cls_014 SONT MIEUX POSITIONNÉS
  .cls_017 style="position:absolute;left:318.65px;top:142.95px" 
    span.cls_017 Type :
  .cls_017 style="position:absolute;left:409.35px;top:142.95px" 
    span.cls_017 Maison, Appartement
  .cls_024 style="position:absolute;left:22.68px;top:151.71px" 
    span.cls_024 21 BIENS (21%)
  .cls_017 style="position:absolute;left:318.65px;top:159.26px" 
    span.cls_017 Pièces :
  .cls_017 style="position:absolute;left:409.35px;top:159.26px" 
    span.cls_017 de 3 à 5
  .cls_017 style="position:absolute;left:22.68px;top:168.71px" 
    span.cls_017 SONT MOINS BIEN POSITIONNÉS
  .cls_017 style="position:absolute;left:318.65px;top:175.58px" 
    span.cls_017 Secteur :
  .cls_017 style="position:absolute;left:409.35px;top:175.58px" 
    span.cls_017 Melun, Dammarys
  .cls_017 style="position:absolute;left:22.68px;top:187.58px" 
    span.cls_017 PRIX MOYEN
  .cls_017 style="position:absolute;left:318.65px;top:191.89px" 
    span.cls_017 Prix :
  .cls_017 style="position:absolute;left:409.35px;top:191.89px" 
    span.cls_017 De 320 000 à 480 000
  .cls_017 style="position:absolute;left:522.91px;top:191.89px" 
    span.cls_017 €
  .cls_024 style="position:absolute;left:22.68px;top:197.58px" 
    span.cls_024 7998
  .cls_024 style="position:absolute;left:68.02px;top:197.58px" 
    span.cls_024 € / M²
  .cls_017 style="position:absolute;left:318.65px;top:208.21px" 
    span.cls_017 Nombre :
  .cls_025 style="position:absolute;left:409.35px;top:208.21px" 
    span.cls_025 151 biens retenus
  .cls_020 style="position:absolute;left:31.18px;top:252.43px" 
    span.cls_020 DURÉE DE DIFFUSION / PRIX M²
  .cls_020 style="position:absolute;left:314.65px;top:252.43px" 
    span.cls_020 SURFACE / PRIX DE VENTE
  .cls_026 style="position:absolute;left:37.12px;top:271.72px" 
    span.cls_026 3600
  .cls_027 style="position:absolute;left:323.00px;top:271.78px" 
    span.cls_027 150
  .cls_026 style="position:absolute;left:37.12px;top:294.83px" 
    span.cls_026 3400
  .cls_027 style="position:absolute;left:323.00px;top:294.77px" 
    span.cls_027 145
  .cls_026 style="position:absolute;left:37.12px;top:317.93px" 
    span.cls_026 3200
  .cls_027 style="position:absolute;left:323.00px;top:317.76px" 
    span.cls_027 140
  .cls_026 style="position:absolute;left:37.12px;top:341.04px" 
    span.cls_026 3000
  .cls_027 style="position:absolute;left:323.00px;top:340.75px" 
    span.cls_027 135
  .cls_026 style="position:absolute;left:37.12px;top:364.15px" 
    span.cls_026 2800
  .cls_027 style="position:absolute;left:323.00px;top:363.74px" 
    span.cls_027 130
  .cls_026 style="position:absolute;left:37.12px;top:387.26px" 
    span.cls_026 2600
  .cls_027 style="position:absolute;left:323.00px;top:386.73px" 
    span.cls_027 125
  .cls_026 style="position:absolute;left:37.12px;top:410.36px" 
    span.cls_026 2400
  .cls_027 style="position:absolute;left:323.00px;top:409.73px" 
    span.cls_027 120
  .cls_026 style="position:absolute;left:88.35px;top:418.50px" 
    span.cls_026 50
  .cls_026 style="position:absolute;left:123.86px;top:418.50px" 
    span.cls_026 100
  .cls_026 style="position:absolute;left:161.81px;top:418.50px" 
    span.cls_026 150
  .cls_026 style="position:absolute;left:199.75px;top:418.50px" 
    span.cls_026 250
  .cls_026 style="position:absolute;left:237.70px;top:418.50px" 
    span.cls_026 300
  .cls_027 style="position:absolute;left:370.37px;top:417.83px" 
    span.cls_027 260
  .cls_027 style="position:absolute;left:408.13px;top:417.83px" 
    span.cls_027 280
  .cls_027 style="position:absolute;left:445.88px;top:417.83px" 
    span.cls_027 300
  .cls_027 style="position:absolute;left:483.64px;top:417.83px" 
    span.cls_027 320
  .cls_027 style="position:absolute;left:521.39px;top:417.83px" 
    span.cls_027 340
  .cls_020 style="position:absolute;left:31.18px;top:465.03px" 
    span.cls_020 COMPARAISON DES BIENS SIMILAIRES
  .cls_010 style="position:absolute;left:103.46px;top:773.98px" 
    span.cls_010 David
    span.cls_011 Delacroix
  .cls_012 style="position:absolute;left:379.96px;top:778.12px" 
    span.cls_012 06 44 08 79 88
  .cls_012 style="position:absolute;left:103.46px;top:791.98px" 
    span.cls_012 Conseiller Immobilier chez I@D
  .cls_012 style="position:absolute;left:379.96px;top:793.12px" 
    span.cls_012 david.delacroix@iadfrance.com
  .cls_012 style="position:absolute;left:379.96px;top:808.12px" 
    span.cls_012 Champigny sur Marne
