div style="position:absolute;left:50%;margin-left:-297px;top:5957px;width:595px;height:841px;border-style:outset;overflow:hidden" 
  div style="position:absolute;left:0px;top:0px" 
    img height="841" src="/index_files/background9.jpg" width="595" /
  .cls_003 style="position:absolute;left:303.77px;top:24.25px" 
    span.cls_003 ANALYSE
    span.cls_004 DE CONTEXTE CONCURRENTIEL
  .cls_013 style="position:absolute;left:306.14px;top:416.64px" 
    span.cls_013 Présentation :
  .cls_014 style="position:absolute;left:306.14px;top:433.04px" 
    span.cls_014 Lorem ipsum dolor sit amet, consectetur adi-
  .cls_014 style="position:absolute;left:306.14px;top:447.44px" 
    span.cls_014 piscing elit, sed do eiusmod tempor incididunt
  .cls_014 style="position:absolute;left:306.14px;top:461.84px" 
    span.cls_014 ut labore et dolore magna aliqua. Ut enim ad
  .cls_014 style="position:absolute;left:306.14px;top:476.24px" 
    span.cls_014 minim veniam, quis nostrud exercitation ullam-
  .cls_031 style="position:absolute;left:28.35px;top:473.30px" 
    span.cls_031 David Delacroix
  .cls_014 style="position:absolute;left:306.14px;top:490.64px" 
    span.cls_014 co laboris nisi ut aliquip ex ea commodo conse-
  .cls_032 style="position:absolute;left:28.35px;top:494.30px" 
    span.cls_032 T. 06.49.03.34.45
  .cls_014 style="position:absolute;left:306.14px;top:505.04px" 
    span.cls_014 quat. Duis aute irure dolor in reprehenderit in
  .cls_032 style="position:absolute;left:28.35px;top:512.30px" 
    span.cls_032 E. françois.durand@iadfrance.fr
  .cls_014 style="position:absolute;left:306.14px;top:519.44px" 
    span.cls_014 voluptate velit esse cillum dolore eu fugiat nulla
  .cls_014 style="position:absolute;left:306.14px;top:533.84px" 
    span.cls_014 pariatur. Excepteur sint occaecat cupidatat non
  .cls_014 style="position:absolute;left:306.14px;top:548.24px" 
    span.cls_014 proident, sunt in culpa qui officia deserunt mol-
  .cls_014 style="position:absolute;left:306.14px;top:562.64px" 
    span.cls_014 lit anim id est laborum.
  .cls_013 style="position:absolute;left:28.14px;top:606.09px" 
    span.cls_013 Biens vendus récemment
  .cls_010 style="position:absolute;left:103.46px;top:773.98px" 
    span.cls_010 David
    span.cls_011 Delacroix
  .cls_012 style="position:absolute;left:379.96px;top:778.12px" 
    span.cls_012 06 44 08 79 88
  .cls_012 style="position:absolute;left:103.46px;top:791.98px" 
    span.cls_012 Conseiller Immobilier chez I@D
  .cls_012 style="position:absolute;left:379.96px;top:793.12px" 
    span.cls_012 david.delacroix@iadfrance.com
  .cls_012 style="position:absolute;left:379.96px;top:808.12px" 
    span.cls_012 Champigny sur Marne

