
/! saved from url=(0087)http://www.pdf.investintech.com/preview/3b9f0f6a-fda3-11e5-94e3-002590d31986/index.html
/html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    css:

    /script src="./index_files/wz_jsgraphics.js" type="text/javascript" 
  /body
 
- (1..9).each do |page_number|
  = render "page_#{page_number}"
  
  /= render 'page_2'
  /= render 'page_3'
  /= render 'page_4'
  /= render 'page_5'
  /= render 'page_6'
  /= render 'page_7'
  /= render 'page_8'
  /= render 'page_9'
  
  
  
  /page.cover
  /.cover-header
    .cover-inner
      h2.subtitle Marché immobilier
      h1.title  Etude d'estimation 
  /.cover-information
    span.label 
      | A la demande de:
      b Bruno B
    span.label 
      | Réalisé par:
      b Mr Bruno BOUCHON 
    span.label 
      | Fait le:
      b jeudi 18 février 2016
/page
  header
    div.page-num 1
    h4.page-title Dynamic Data 
    div.header-rect
  .pdf-content
    p 
      b = t('property_type')
      | : {{ property.property_type == 0 ? 'House' : 'Flat' }}
    p 
      b = t('rooms')
      | : {{ property.rooms }}
    p 
      b = t('description')
      | : {{ property.description }}
    p 
      b = t('city')
      | : {{ property.city }}
    p 
      b = t('address')
      | : {{ property.address }}
    p 
      b = t('surface')
      | : {{ property.surface }}
    p 
      b = t('price')
      | : {{ property.price }}
    fieldset
      legend = t('owner')
      span {{ property.name }} 
      br
      span {{ property.phone }} 
      br
      span {{ property.email }} 
  br
  ng-map center="[{{property.lat}}, {{property.lng}}]" width="300"
    marker position="{{property.lat}}, {{property.lng}}" draggable="true"
  footer
    div.logo
    div.address

/page
  header
    div.page-num 2
    h4.page-title Charts - Line and Bar 
    div.header-rect
  h2 Line Chart
  canvas#line-chart width="700" height="450" 
  br
  br
  h2 Bar Chart
  canvas#bar-chart width="700" height="450" 

/page
  header
    div.page-num 3
    h4.page-title Charts - Pie and Doughnut 
    div.header-rect
  h2 Pie Chart
  .box-chart
    canvas#pie-chart width="400" height="400" 
  br
  br
  h2 Doughnut Chart
  .box-chart
    canvas#dough-chart width="400" height="400" 

