
javascript:
  window.property = #{@report.to_json.html_safe}

.edit-content ng-app="appController" ng-controller="editController" 

  .content-pdf 
    = render 'pdf_template'

  .sidebar
    button.btn.btn-secondary.btn-lg onclick="window.print()"
      = t('actions.print')
    br
    br
    form ng-submit="saveProperty()"
      fieldset
        label = t('property_type')
        .radio
          label
            input type="radio" value="0" name="property_type" ng-model="property.property_type"/ 
            span = t('house')
        .radio
          label
            input type="radio" value="1" name="property_type" ng-model="property.property_type"/ 
            span = t('flat')
      fieldset.form-group
        label = t('rooms') 
        input.form-control type="number" ng-model="property.rooms"
      fieldset.form-group
        label = t('description') 
        textarea.form-control ng-model="property.description"
      fieldset.form-group
        label = t('city') 
        input.form-control type="text" ng-model="property.city"
      fieldset.form-group
        label = t('rooms') 
        input.form-control type="number" ng-model="property.rooms"
      fieldset.form-group
        label = t('address') 
        input.form-control#address_field type="text" ng-model="property.address"
      fieldset.form-group
        label = t('surface')
        input.form-control type="number" ng-model="property.surface"
      fieldset.form-group 
        label = t('price')
        input.form-control type="text" ng-model="property.price"
      fieldset
        legend = t('owner')
      fieldset.form-group
        label = t('name') 
        input.form-control type="text" ng-model="property.name"
      fieldset.form-group
        label = t('phone') 
        input.form-control type="text" ng-model="property.phone"
      fieldset.form-group
        label = t('email') 
        input.form-control type="text" ng-model="property.email"
      // Latitude and longitude hidden fields
      input type="hidden" ng-model="property.lat"
      input type="hidden" ng-model="property.lng"
      
      input.btn.btn-primary type="submit" value="#{t('actions.save')}"
    br
    br
    br
    br

= content_for :head 
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDWif-Vrje2gPVDFGFWcUytgJmZxUMQlRU&libraries=places"
  = javascript_include_tag 'views/properties/edit'
  = javascript_include_tag 'vendor/chart.min'
  = javascript_include_tag 'chart_render'
  = javascript_include_tag 'vendor/ng-map.min'
  = javascript_include_tag 'address_complete'
