h2 = t('properties')
br
= link_to t('actions.new_report'), new_report_path, class: 'btn btn-primary'
br
br
nav.navbar.navbar-light.bg-faded
  form.form-inline.pull-xs-right
    label = t('actions.search') 
      | &nbsp;
    input.form-control name="contact_name" type="Text" placeholder="#{t('contact_name')}"
    | &nbsp;
    .form-group.search-date-fields
      label = t('from_date') 
      input.form-control.form-control-sm name="from_date" type="date"
      | &nbsp;
      label = t('to_date')
      input.form-control.form-control-sm name="to_date" type="date"
    | &nbsp;&nbsp;
    input.btn.btn-primary-outline type="Submit" value="#{t('actions.search')}"
table.table.table-striped
  thead
    tr
      th = t('creation_date') 
      th = t('type')
      th = t('description')
      th = t('city')
      th = t('rooms')
      th = t('address')
      th = t('surface')
      th = t('price')
      th = t('owner')
      th 
  tbody
    - @reports.each do |report|
      tr
        td = report.created_at.strftime('%m/%d/%Y') 
        td = t(report.property_type)
        td = report.description
        td = report.city
        td = report.rooms
        td = report.address
        td = report.surface
        td = report.price
        td 
          dl.dl-horizontal
          dt = t('name')
          dd = report.name
          dt = t('phone')
          dd = report.phone
          dt = t('email')
          dd = report.email
        td
          .btn-group.btn-group-sm 
            = link_to t('actions.print')  , report_path(report, print: true), target: '_blank', class: 'btn btn-info-outline' 
            = link_to t('actions.edit')   , edit_report_path(report), class: 'btn btn-primary-outline'
            = link_to t('actions.destroy'), report, method: :delete , data: { confirm: t('confirm_question') }, class: 'btn btn-danger-outline'
= (paginate @reports) if @reports.any?            
br

