= content_for :head 
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDWif-Vrje2gPVDFGFWcUytgJmZxUMQlRU&libraries=places"
  = javascript_include_tag 'views/properties/show'
  = javascript_include_tag 'vendor/chart.min'
  = javascript_include_tag 'chart_render'
  = javascript_include_tag 'vendor/ng-map.min.js'  

javascript:
  window.property = #{@report.to_json.html_safe}

div ng-app="appController" ng-controller="showController"
  = render 'pdf_template'
